@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";
@import "partials/footer";
@import "partials/footer";


@include fontFace('Constantia','../fonts/Constantia', 400);
@include fontFace('Constantia','../fonts/Constantia-Bold', 700);

body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
}

body {

  font-family: 'Constantia', 'Helvetica', Arial, serif;
  font-weight: 400;
  font-size: 35px;
  user-select: none;
  overflow: hidden;

  color: #000;
}
.background-fix {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-image: url('../images/background.jpg');
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  background-size: cover;

  transition: all .3s ease-in;
  will-change: transform;

  opacity: 0;

  &--animate {
    opacity: 1;
    transition: all .3s ease-in;
    will-change: transform;
  }


  &--intro {
    background-image: url('../images/background-intro.jpg');
  }

  &--1 {
    background-image: url('../images/background-1.jpg');
  }
  &--2 {
    background-image: url('../images/background-2.jpg');
  }
  &--3 {
    background-image: url('../images/background-3.jpg');
  }
  &--4 {
    background-image: url('../images/background-4.jpg');
  }
  &--5 {
    background-image: url('../images/background-5.jpg');
  }
  &--6 {
    background-image: url('../images/background-6.jpg');
  }
  &--7 {
    background-image: url('../images/background-7.jpg');
  }

  &--score {
    &--0 {
      background-image: url('../images/background-result-5.jpg');
    }
    &--1, &--2, &--3 {
      background-image: url('../images/background-result-4.jpg');
    }
    &--4, &--5, &--6 {
      background-image: url('../images/background-result-3.jpg');
    }
    &--7, &--8, &--9 {
      background-image: url('../images/background-result-2.jpg');
    }
    &--10 {
      background-image: url('../images/background-result-1.jpg');
    }
  }
}


button {
  outline: none;
  background: none;
  border: none;
  padding: 0;
}

.reset {
  letter-spacing: 2px;


}

.lang {
  letter-spacing: 4px;
}





.js-quiz {
  font-family: 'Constantia', 'Helvetica', Arial, serif;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;

  transition: all .3s ease-in;
}

.pic {
  transition: all .3s ease-in;
}

.welcome {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;


  .game-name {
    margin-top: 200px;
  }
  .start-game {
    @include push--auto;
    margin-bottom: 140px;
  }
}
.decoration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 210px;
  padding-top: 70px;
  padding-bottom: 65px;

  font-family: 'Constantia', 'Helvetica', Arial, serif;
  font-size: 60px;
  font-weight: 700;
  color: #af2626;

  box-sizing: border-box;

  &:after, &:before {
    position: absolute;
    right: 50%;
    content: '';
    display: block;
    width: 452px;
    height: 37px;
    background-image: url("../images/decor.png");
    background-size: cover;
  }
  &:after {
    top: 0;
    transform: translateX(50%);
    will-change: transform;
  }

  &:before {
    bottom: 0;
    transform: translateX(50%) rotate(180deg);
    will-change: transform;
  }

}

.js-quiz {
  position: relative;

}

.header {
  margin-bottom: 10px;
  font-size: 53px;
  letter-spacing: .8px;
  text-transform: uppercase;
  transition: all .3s ease-in;
  font-weight: 700;
  color: #694025;

  &--under {
    max-width: 860px;
    @include push--auto;
    font-size: 60px;
    //line-height: 44px;
    font-weight: 400;
    transition: all .3s ease-in;
    color: #694025;
  }
}

.question {
  //margin-top: 70px;
  font-size: 60px;
  //letter-spacing: 4px;
  font-weight: 700;
  color: #694025;
  //text-transform: uppercase;

  transition: all .3s ease-in;
}

.question-number {
  margin-top: 105px;
  margin-bottom: 100px;
  color: #c59c67;
  font-size: 50px;
  font-weight: 700;
  transition: all .3s ease-in;
}

.quiz {
  text-align: center;
}

.answers {
  display: flex;
  margin-top: 120px;
  align-items: center;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}
.quiz-answer {
  position: relative;
  margin-bottom: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  //width: 33%;
  font-family: 'Constantia', 'Helvetica', Arial, serif;
  //font-weight: 700;
  font-size: 50px;

  color: #af2626;

  transition: all .3s ease-in;


}

.quiz-alert {
  width: 100%;
  position: absolute;
  bottom: 140px;
  font-weight: 400;
  font-size: 42px;
  color: #b69162;
  text-transform: uppercase;
  letter-spacing: .8px;

  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;

}

.quiz-additional {
  .js-quiz {
    font-size: 42px;

  }

  &--next {
    width: 100%;
    position: absolute;
    bottom: 140px;
  }
}

.description {
  position: absolute;
  bottom: 400px;
  padding-left: 120px;
  padding-right: 120px;
  @include push--auto;
  font-size: 34px;

  color: #694025;


  transition: all .3s ease-in;

  p {
    margin-bottom: 50px;
    margin-top: 0;
  }
}



//.question {
//
//  &--1 {
//    .description {
//      max-width: 235px;
//      margin-top: 75px;
//    }
//  }
//  &--2 {
//    .description {
//      max-width: 440px;
//      margin-top: 40px;
//    }
//  }
//  &--3 {
//    .description {
//      width: 250px;
//      margin-top: 120px;
//    }
//  }
//  &--4 {
//    .description {
//      width: 387px;
//      margin-top: 140px;
//    }
//  }
//  &--5 {
//    .description {
//      width: 340px;
//      margin-top: 120px;
//    }
//  }
//  &--6 {
//    .description {
//      width: 350px;
//      margin-top: 70px;
//    }
//  }
//  &--7 {
//    .description {
//      width: 190px;
//      margin-top: 110px;
//    }
//  }
//}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  justify-content: space-between;
  //z-index: 10;

  button {
    height: 44px;
    padding-top: 4px;
    color: #ba9865;
    font-family: 'Constantia', 'Helvetica', Arial, serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;

  }
}

.score {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  font-size: 30px;
  line-height: 41px;
}
.rang {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  transition: opacity .4s ease;
  opacity: 0;
  font-family: 'Constantia', 'Helvetica', Arial, serif;


  &__top {
    margin-top: 105px;
    transition: all .6s ease;
  }
  &__bottom {
    transition: all .6s ease;
  }
  &__score {
    margin-bottom: 65px;
    font-size: 40px;
    line-height: 54px;
    color: #2b2822;
  }
  &__name-description {
    margin-bottom: 42px;
    font-size: 34px;
    color: #694025;
  }

  &__name {
    margin-bottom: 240px;
    color: #694025;
    font-size: 60px;
    font-weight: 700;
  }

  .reset {
    margin-bottom: 140px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 42px;
  }
}
.rang-score {
  color: #8f6752;
  font-weight: 700;
}



.hide {
  display: none;
}

.animate-inside {
  transform: scale(.3);
  opacity: 0;
  will-change: transform;
}
.animate-down {
  transform: translateY(300px);
  opacity: 0;
  will-change: transform;
}
.animate-top {
  transform: translateY(-300px);
  opacity: 0;
  will-change: transform;
}
.animate {
  transform: translateY(0) scale(1);
  opacity: 1;
  will-change: transform;
}

.pressed {
  color: #8f6752;
  opacity: .8;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    will-change: transform;
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    will-change: transform;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    will-change: transform;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    will-change: transform;
  }
}